*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(7, 7, 7);
    #canvas{
        position: absolute;
        background: rgb(18, 24, 31);
    }
}
